[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
pep8 = "*"
autopep8 = "*"
mysqlclient = "*"
djangorestframework = "*"
waitress = "*"
pillow = "*"
django-cors-headers = "*"

[dev-packages]
django = "*"
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.10"
